@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar{
    width: 0px; /*para evitar rolagem da tela*/
    height: 0px;
}
img{
    width: 100vw;
}
a{
    display: block;
    background-color: darkred;
    color: white;
    padding: 20px; /*expessura*/
    text-align: center; /*centralizar o conteudo*/
    font-weight: bolder;
    text-decoration: none;
}

a:hover{
    background-color: red;
}